@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* Reset de propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    color: #676767;  
    background-color: #edeced;  
    
}
/* para dimensionar o layout grid da pagina, limitar a aproximação das bordas */
.container-grid{
    width: 100%; /*  */
    max-width: 1200px; /*largura maxima */
    min-width: 992px; /* largura minima */
    margin: 0 auto; /*  */

}


/* ****Cabeçalho**** */
header{
    background-color: #676767;
    margin-bottom: 15px;

}
/* Espaçamento do logo/link */
header .header-flex{
    display: flex;
    justify-content: space-between;
}
/* logo EstilosUX */
header h1{
    font-weight: 300;
    color: white;
    
}

header h1 #logoux{
    font-weight: 600;  
    font-style: italic  ;

}
/* conjunto links */
header nav{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* links individuais */
header nav a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;

}

/* *****MAIN***** */

main .colunas-flex{
    display: flex;
    justify-content: space-between;
}
/* Coluna 1 section */
main .coluna1{ 
    width: 75%;
    background-color: white;
    line-height: 24px;
}
/* imagem lapis */
main .coluna1 #lapis{
    width: 100%;
    display: block;
}
/* articles */

main .coluna2 {
        background-color: white;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        height: 200 px;
        width: 400px;
        align-items: center;
        text-align: center;
        
    }
.border{
    border-bottom: 1px solid grey;
    width: 100%;
}

.space{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* espaçamentos paragrafos */
main .margin {
    margin: 15px 20px 0px 20px;
}
/* espaçamento paragrafos */
main .margin2 {
    margin: 25px 20px 25px 20px;
}

/* ****Rodapé**** */
footer{
    color: white;
    background-color: #676767;
    margin-top: 15px;
    padding: 20px 0px 20px 0px ;
/* na escrita curta segue o sentido de relogio top/right/bottom/left */
}   