body{
    font-family: sans-serif;
    color: grey;
}
header{
    background-color: rgb(114, 114, 114);
}

header nav a{
    text-decoration: none;
    color: white;
}

footer{
    color: white;
    background-color: grey;
}